/* Coolors Exported Palette - https://coolors.co/f7f7f8-cbdbec-1cdbef-6488aa-21527a-003155-022034-4d4d4d-fd1d1c-4e7e6d */

/* CSS HEX */
--seasalt: #f7f7f8ff;
--columbia-blue: #cbdbecff;
--robin-egg-blue: #1cdbefff;
--silver-lake-blue: #6488aaff;
--yinmn-blue: #21527aff;
--prussian-blue: #003155ff;
--prussian-blue-2: #022034ff;
--davys-gray: #4d4d4dff;
--red: #fd1d1cff;
--hookers-green: #4e7e6dff;

/* CSS HSL */
--seasalt: hsla(240, 7%, 97%, 1);
--columbia-blue: hsla(211, 46%, 86%, 1);
--robin-egg-blue: hsla(186, 87%, 52%, 1);
--silver-lake-blue: hsla(209, 29%, 53%, 1);
--yinmn-blue: hsla(207, 57%, 30%, 1);
--prussian-blue: hsla(205, 100%, 17%, 1);
--prussian-blue-2: hsla(204, 93%, 11%, 1);
--davys-gray: hsla(0, 0%, 30%, 1);
--red: hsla(0, 98%, 55%, 1);
--hookers-green: hsla(159, 24%, 40%, 1);

/* SCSS HEX */
$seasalt: #f7f7f8ff;
$columbia-blue: #cbdbecff;
$robin-egg-blue: #1cdbefff;
$silver-lake-blue: #6488aaff;
$yinmn-blue: #21527aff;
$prussian-blue: #003155ff;
$prussian-blue-2: #022034ff;
$davys-gray: #4d4d4dff;
$red: #fd1d1cff;
$hookers-green: #4e7e6dff;

/* SCSS HSL */
$seasalt: hsla(240, 7%, 97%, 1);
$columbia-blue: hsla(211, 46%, 86%, 1);
$robin-egg-blue: hsla(186, 87%, 52%, 1);
$silver-lake-blue: hsla(209, 29%, 53%, 1);
$yinmn-blue: hsla(207, 57%, 30%, 1);
$prussian-blue: hsla(205, 100%, 17%, 1);
$prussian-blue-2: hsla(204, 93%, 11%, 1);
$davys-gray: hsla(0, 0%, 30%, 1);
$red: hsla(0, 98%, 55%, 1);
$hookers-green: hsla(159, 24%, 40%, 1);

/* SCSS RGB */
$seasalt: rgba(247, 247, 248, 1);
$columbia-blue: rgba(203, 219, 236, 1);
$robin-egg-blue: rgba(28, 219, 239, 1);
$silver-lake-blue: rgba(100, 136, 170, 1);
$yinmn-blue: rgba(33, 82, 122, 1);
$prussian-blue: rgba(0, 49, 85, 1);
$prussian-blue-2: rgba(2, 32, 52, 1);
$davys-gray: rgba(77, 77, 77, 1);
$red: rgba(253, 29, 28, 1);
$hookers-green: rgba(78, 126, 109, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f7f7f8ff, #cbdbecff, #1cdbefff, #6488aaff, #21527aff, #003155ff, #022034ff, #4d4d4dff, #fd1d1cff, #4e7e6dff);
$gradient-right: linear-gradient(90deg, #f7f7f8ff, #cbdbecff, #1cdbefff, #6488aaff, #21527aff, #003155ff, #022034ff, #4d4d4dff, #fd1d1cff, #4e7e6dff);
$gradient-bottom: linear-gradient(180deg, #f7f7f8ff, #cbdbecff, #1cdbefff, #6488aaff, #21527aff, #003155ff, #022034ff, #4d4d4dff, #fd1d1cff, #4e7e6dff);
$gradient-left: linear-gradient(270deg, #f7f7f8ff, #cbdbecff, #1cdbefff, #6488aaff, #21527aff, #003155ff, #022034ff, #4d4d4dff, #fd1d1cff, #4e7e6dff);
$gradient-top-right: linear-gradient(45deg, #f7f7f8ff, #cbdbecff, #1cdbefff, #6488aaff, #21527aff, #003155ff, #022034ff, #4d4d4dff, #fd1d1cff, #4e7e6dff);
$gradient-bottom-right: linear-gradient(135deg, #f7f7f8ff, #cbdbecff, #1cdbefff, #6488aaff, #21527aff, #003155ff, #022034ff, #4d4d4dff, #fd1d1cff, #4e7e6dff);
$gradient-top-left: linear-gradient(225deg, #f7f7f8ff, #cbdbecff, #1cdbefff, #6488aaff, #21527aff, #003155ff, #022034ff, #4d4d4dff, #fd1d1cff, #4e7e6dff);
$gradient-bottom-left: linear-gradient(315deg, #f7f7f8ff, #cbdbecff, #1cdbefff, #6488aaff, #21527aff, #003155ff, #022034ff, #4d4d4dff, #fd1d1cff, #4e7e6dff);
$gradient-radial: radial-gradient(#f7f7f8ff, #cbdbecff, #1cdbefff, #6488aaff, #21527aff, #003155ff, #022034ff, #4d4d4dff, #fd1d1cff, #4e7e6dff);